.app-bar
  grid-area: AB

  display: flex
  align-items: center
  border-bottom: 1px solid
  
  .client
    margin-left: .7rem
    display: flex
    align-items: center
    gap: .7rem
    .avatar
      width: 45px
      height: 45px
      border-radius: 50%
      object-fit: cover

    .info
      display: flex
      flex-direction: column
      gap: 2px
      .caption
        color: #333
        font-size: 11px
