.chat-view
  display: flex
  flex-direction: column
  background: #F3F6FB
  height: calc(100vh - 80px)

.list-messages
  height: calc(100vh - 150px)
  overflow: auto
  // border: 1px solid green

.input-area
  // border: 1px solid
  display: flex
  align-items: center
  margin: 20px
  padding: 0 10px
  border-radius: 8px
  background: #fff
  min-height: 60px

  textarea
    outline: none
    border: none
    height: 80%
    width: 100%

  .send-button
    border-radius: 8px
    background: green
    color: #fff
    height: 80%
    width: 50px
    display: grid
    place-items: center

.message
  flex: none
  max-width: 60%
  margin: 10px 0

  .user
    display: flex
    align-items: center
    .avatar
      margin: 0 15px
      border-radius: 50%
      width: 40px
  .content
    margin: 10px 25px 0
    background: #fff
    color: #333
    padding: 10px
    border-radius: 8px

  .image-message
    width: 100%
    border-radius: 8px

  .caption
    margin: 2px 25px
    text-align: right

  &.from-me
    align-self: flex-end

    .user
      flex-direction: row-reverse
    .content
      margin: 10px 25px 0
      background:#1A233B

      color: #F3F6FB
      padding: 10px
      border-radius: 10px
