// SB - Side Bar
// AR = App Area
  
.grid
  height: 100vh
  width: 100vw
  display: grid

  grid-template-columns: 70px 240px auto 240px
  grid-template-rows: 80px auto

  grid-template-areas: 'SB AB AB AB' 'SB AR AR AR'
